@font-face {
    font-family:Roboto;
    src: url(../font/Roboto-Regular.ttf);
}
body{
	margin: 0px;
	font-family: roboto,arial;
}
header{
	position: absolute;
	top: 0;
	right: 0%;
	width: 100%;
	height:auto;
	z-index: 999;
}
#Logo{
	position: relative;
	width: 100%;
}
.navbar-brand{
	position: relative
	top:0;
	right: 0%;
	width: 100%;
	text-align: left;
	font-family: roboto;
	font-size: 40px;
	font-weight: 600;
	color: white;
}
.navbar-brand::before{
	content: "UP!";
	position: absolute;
    top: 6px;
    left: 187px;
    width: 4%;
    text-align: left;
    font-family: roboto;
    font-size: 40px;
    font-weight: 600;
    color: #c435fe;
}
/*______________________________________________________________________________________________________*/
article{
	position: relative;
	top: 0;
	right: 0%;
	width: 100%;
	height: 100%;
}
/*______________________________________________________________________________________________________*/
#Kontent{
	position: relative;
	top: 0;
	right: 0%;
	width: 100%;
	height: 900px;
    max-height: 900vh;
    overflow: hidden;	
}
#Kontent::before{
	content:"";
	position: absolute;
	top: 0;
	right: 0%;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, #16013a, transparent);	
	z-index: 1;
}
.KontentVideoMedia{
	position:absolute;
	top: 0;
    right: 0%;
    width: 1910px;
    height: auto;
}
.Kontent-Blocks{
	position: relative;
    height: auto;
    display: inline-block;
    z-index: 2;
}
.Kontent-Blocks-text{
	position: relative;
    text-align: left;
    font-family: roboto;
    font-size: 50px;
    font-weight: 600;
    color: white;
    padding: 20px 0px;
    background: url(../img/LentaPodarok.png) no-repeat 50% 50%/95%;
}
.Kontent-Blocks-text::before{
	content:"UP";
	position: relative;
    top: 0;
    right: -220px;
    width: 20%;
    text-align: left;
    font-family: roboto;
    font-size: 70px;
    font-weight: 900;
	color: #efcc52;
}

.Kontent-Block-Spisok{
	position: relative;
    width:max-contant;
    height:auto;
    list-style: none;
    padding: 0px;
}
.Spisik-li{
	position: relative;
	top: 0;
	right: 0%;
	text-align: left;
	font-family: roboto;
	font-size: 20px;
	font-weight: 300;
	color: white;
	display: block;
	margin-bottom: 25px;
	cursor: pointer;
}
.Spisik-li::before{
	content:"";
	position: absolute;
	top: 0px;
    left: -45px;
    width: 30px;
    height: 30px;
    background: url(../img/CheckMark.png)no-repeat 50% 50%/100%;
    transition: 0.4s;
}
.Spisik-li:hover::before{
	left: -35px;
}
.Kontent-Blocks-Img{
	position: relative;
    width: 100%;
    height: auto;
}

.Kontent-Silka{
	position: relative;
    width:max-content;
}
.Kontent-Knopka{
	position: relative;
	top: 0;
	right: 0%;
	width: 250px;
	height: 50px;
	text-align: center;
	font-family: roboto;
	font-size: 20px;
	font-weight: 300;
	color: white;
	border:solid 2px purple;
	background: #b032ff7d;
	border-radius: 20px;
	cursor: pointer;
	outline: none;
	transition: 0.3s;
}
.Kontent-Knopka:hover{
	background: linear-gradient(0deg, #16013a, purple);	
	border:none;
}
/*______________________________________________________________________________________________________*/
#Kontent2{
	position: relative;
	top: 0;
	right: 0%;
	width: 100%;
	height: auto;
	background: url(../img/istockcasal-cama-sexo.jpg)no-repeat 50% 50%/1900px;
}
#Kontent2::before{
	content:"";
	position: absolute;
	top: 0;
    right: 0%;
    width: 100%;
    height: 100%;
    background: #efefefd4;
    backdrop-filter: blur(5px);
}
.Kontent2Block{
	position: relative;
	top: 0;
	right: 0%;
	height:auto;
	margin:0 auto;
}
#Kontent2BlockTitle{
	position: absolute;
	top: 60px;
	right: 0%;
	width: 100%;
	text-align: center;
	font-family: roboto;
	font-size: 40px;
	font-weight: 600;
}

.Kontent2Blocks{
	position: relative;
    height: auto;
    display:block;
    margin-bottom: 60px;
}
.Kontent2Blocks::before{
content: "";
position: absolute;
top: 0px;
width: 107px;
height: 100px;
border-radius:100%;
border: solid 3px purple;
margin:-9px -15px;
}
.Kontent2Img{
	position:relative;
}

.Kontent2BlocksImg{
	position: relative;
	width:75px;
}

.Kontent2BlocksStroka{
	position: relative;
	right: 0%;
	width: 100%;
	text-align: center;
	font-family: roboto;
	font-size: 20px;
	font-weight: 300;
	padding-top: 20px;
}

.Kontent2BlocksSilka{
	position: relative;
    width:max-content;
}
.Kontent2BlocksKnopka{
	position: relative;
	width:250px;
	height:50px;
	text-align: center;
	font-family: roboto;
	font-size: 20px;
	font-weight: 300;
	color: white;
	border:none;
	background: linear-gradient(359deg, #801880, #9902fd);
	border-radius:5px;
	cursor: pointer;
	outline: none;
	transition: 0.3s;
}
.Kontent2BlocksKnopka:hover{
	background: linear-gradient(2deg, #611159, #7a30f8);
	box-shadow: none;
}
/*______________________________________________________________________________________________________*/
#Kontent3{
	position: relative;
	top: 0;
	right: 0%;
	width: 100%;
	height: auto;
}

#Kontent3BlockTitle{
	position: absolute;
	top: 50px;
	right: 0%;
	width: 100%;
	text-align: center;
	font-size: 40px;
	font-weight: 600;
}

.carousel {
    position: relative;
    top: 175px;
    right: 0%;
    width: 810px;
    height: 475px;
    overflow: hidden;
    margin: 0 auto;
}

.carousel-inner {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.carousel-open:checked + .carousel-item {
    position: relative;
    display: contents;
    top: 0;
    right: 0%;
    width: 100%;
    height: 100%;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgb(128 24 128);
    border-radius: 50%;
    cursor: pointer;
    #display: none;
    font-size: 40px;
    height: 50px;
    line-height: 35px;
    position: absolute;
    top: 45%;
    cursor: pointer;
    text-align: center;
    width: 50px;
    z-index: 10;
}
.carousel-control:hover{
	background: none;
}
.carousel-control.prev::before{
	position: absolute;
	content: "\276E";
	top: 8px;
    right: 4%;
    width: 100%;
    text-align: center;
    font-size: 35px;
	font-weight: 300;
	color:white;
	transition-duration: 0.4s;
}
.carousel-control.next::before{
	position: absolute;
	content: "\276F";
	top: 8px;
	right: -4%;
	width: 100%;
	text-align: center;
	font-size: 35px;
	font-weight: 300;
	color:white;
	transition-duration: 0.4s;
}
.carousel-control.prev:hover::before{
	color:#7e32ff;
}
.carousel-control.next:hover::before{
	color:#7e32ff;
}
.carousel-control.prev {
    left: 1%;
}

.carousel-control.next {
    right: 1%;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #bbb;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #05bca9;
}


.sladeimg{
	position: absolute;
	top: 50px;
    right: 42%;
    width: 16%;
    height: 148px;
    border-radius: 100%;
    background: url(../img/8b000ae0b745c6d4cb0a84e2b2de6567.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 103%;
}
.sladeimg2{
	position: absolute;
	top: 50px;
    right: 42%;
    width: 16%;
    height: 148px;
    border-radius: 100%;
    background: url(../img/1371643083_40095600.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 103%;
}
.sladeimg3{
	position: absolute;
	top: 50px;
    right: 42%;
    width: 16%;
    height: 148px;
    border-radius: 100%;
    background: url(../img/doctor.png);
    background-position: 56% -1%;
    background-repeat: no-repeat;
    background-size: 234%;
}
.sladetext{
	position: absolute;
	top: 215px;
	right: 0%;
	width: 100%;
	text-align: center;
	font-family: roboto,sans-serif;
    font-size: 30px;
    font-weight: 400;
	color: grey;
}
.sladestroka{
	position: absolute;
	top: 270px;
    right: 5%;
    width: 90%;
	text-align: center;
	font-family: roboto,monospace;
	font-size: 24px;
	font-weight: 300;
	color: grey;
}

.slider{
   position: relative;
    top: 80px;
    right: 0%;
    width: 925px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
}
.sliders{
	position: relative;
	top: 0;
	right: 0%;
	width: 400%;
	height: 100%;
	display: flex;
}
.slide{
	position: relative;
	top: 0;
    right: 0%;
    width: 25%;
	height: 100%;
	transition-duration: 0.4s;
}
#sladeimg{
	position: absolute;
	top: 5px;
    right: 41%;
    width: 18%;
    height: 170px;
    border-radius: 100%;
    background: url(../img/avatar-1.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 103%;
}
#sladeimg2{
	position: absolute;
	top: 5px;
    right: 41%;
    width: 18%;
    height: 170px;
    border-radius: 100%;
    background: url(../img/avatar-3.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 103%;
}
#sladeimg3{
	position: absolute;
	top: 5px;
    right: 41%;
    width: 18%;
    height: 170px;
    border-radius: 100%;
    background: url(../img/avatar-2.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 103%;
}
#sladetext{
	position: absolute;
	top: 164px;
	right: 0%;
	width: 100%;
	text-align: center;
	#font-family: roboto,sans-serif;
	font-size: 30px;
	font-weight: 500;
	color: grey;
}
#sladestroka{
	position: absolute;
	top: 230px;
    right: 5%;
    width: 90%;
	text-align: center;
	#font-family: roboto,monospace;
	font-size: 20px;
	font-weight: 300;
	color: grey;
}
input[name="r"]{
	position: absolute;
	display: none;
}


#r1:checked ~ .s1{
	margin-left:0;
}
#r2:checked ~ .s1{
	margin-left:-25%;
}
#r3:checked ~ .s1{
	margin-left:-50%;
}


.arrowrigh{
	position: absolute;
	top: 0;
	right: 0%;
	width: 10%;
	height: 40px;
	background: grey;
}
.arrowleft{
	position: absolute;
	top: 0;
	right: 90%;
	width: 10%;
	height: 40px;
	background: grey;
}

/*_________________________________________________________________________________________________*/
#Kontent4{
	position: relative;
	top: 0;
	right: 0%;
	width: 100%;
	height: auto;
	background:#f1f1f1;
}

#Kontent4BlocksTitle{
	position:relative;
	text-align: left;
	font-family: roboto;
	font-size: 40px;
	font-weight: 600;
}
#Kontent4BlocksTitle::after{
	content: "UP!";
    position: relative;
    top: 17px;
    text-align: right;
    font-family: roboto;
    font-size: 65px;
    font-weight: 600;
    color: #d602d6;
}
.Kontent4BlocksStroka{
	position: relative;
	text-align: left;
	font-family: roboto;
	font-size: 18px;
	font-weight: 300;
}
.Kontent4Spisok{
	position: relative;
    right: 0%;
	height: auto;
	list-style: none;
	padding: 0px;
}
.Kontent4SpisokLi{
	position: relative;
	top: 0;
	right: 0%;
	text-align: center;
	font-family: roboto;
	font-size: 15px;
	font-weight: 300;
	display: inline-block;
	margin:15px;
}
.Kontent4SpisokLi::before{
	content: "";
	position: absolute;
	top: 0;
    left: -15%;
    width: 20px;
    height: 20px;
    background: url(../img/MarckChek.png)no-repeat 50% 50%/100%;
}
.Kontent3BlocksImg{
	position: relative;
	top: 25px;
    left: 0%;
    width: 383px;
    height: 450px;
}



/*_________________________________________________________________________________________________*/

#Kontent5{
	position: relative;
	top: 0;
	right: 0%;
	width: 100%;
	height: auto;
	background: url(../img/dainis-graveris-y2cOf7SfeMI-unsplash.jpg)no-repeat 50% 50%/1910px;
}
#Kontent5::before{
    content:"";
    position: absolute;
    top: 0;
    right: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(358deg, #240365d6, #5f005fbf);
    backdrop-filter: blur(5px);
}

#Kontent5BlockTitle{
	position:relative;
    text-align: center;
    font-family: roboto;
    font-size: 100px;
    font-weight: 600;
    color: white;
    font-style: oblique;
    transform: rotate(-11deg);
}
#Kontent5BlockTitle::after{
	content: "UP!";
    position: relative;
    text-align: center;
    font-family: roboto;
    font-size: 110px;
    font-weight: 600;
    color: #c332ff;
}
.Kontent5Time{
	position: relative;
    height: auto;
    background: #330133;
    border: solid 10px #961996;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 3px #c435fe;
    z-index: 9;
}
#timer{
	position: relative;
	text-align: center;
	font-size: 50px;
	font-weight: 100;
	color: white;
	letter-spacing: 5px;
}
.Kontent5Blocks{
	position: relative;
	height: 500px;
	display: inline-block;
}
.Kontent5Blocksborder{
    border: solid 2px #d366ff;
    box-shadow: 0px 0px 16px -5px #ffbeff;
    background: #730ca94d;
    border-radius: 20px;
}
.Kontent5BlocksImg{
	position: relative;
	top: 0;
}
.Kontent5BlockText{
	position: absolute;
    top: 55px;
    right: 2%;
    text-align: center;
    font-family: roboto;
    font-size: 45px;
    font-weight: 600;
    color: white;
    background: #d80000;
    border-radius: 20px;
    transform: rotate(-18deg);
    animation: pulse 1s infinite;
    padding: 0px 20px;
}
.Kontent5BlockStroka{
	position: absolute;
    top: 0px;
    right: 12%;
    text-align: center;
    font-family: roboto;
    font-size: 33px;
    font-weight: 600;
    color: #ff0707;
    font-style: italic;
    text-decoration: line-through;
    transform: rotate(-15deg);
}
.Kontent5forma{
	position: absolute;
	top: 120px;
	right: 5%;
	width: 90%;
	height: 65%;
}
.Kontent5formainput{
	position: relative;
	width: 100%;
	height: 50px;
	text-align: left;
	font-family: roboto;
	font-size: 20px;
	font-weight: 300;
	color: purple;
	padding:10px;
	border:solid 2px #c435fe;
	background: #f3f3f3;
	border-radius: 10px;
	transition: 0.4s;
	display: block;
	margin-bottom: 25px;
	outline: none;
	z-index: 3
}
.Kontent5formainput:hover{
    border:solid 2px #961d96;
}
.Podskaska{
	position: relative;
}
.Podskaska::before{
	content: attr(title);
	position: absolute;
	top: 22px;
    left: 386px;
    width: 315px;
	padding: 10px;
	text-align: center;
	font-family: roboto;
	font-size: 17px;
	font-weight: 300;
	background: #000000d1;
	color: white;
	display: block;
	border-radius: 10px;
	visibility: hidden;
	z-index: 2;

}
.Podskaska:hover::before{
	visibility: visible;
}
.Podskaska::after{
	content: "";
	position: absolute;
	top: 67px;
    left: 395px;
    border-top: 13px solid #000000d1;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: 20px;
	visibility: hidden;
}
.Podskaska:hover::after{
	visibility: visible;
}
.Kontent5FormaKnopka{
	position: relative;
    width: 250px;
    height: 50px;
	text-align: center;
	font-family: roboto;
	font-size: 20px;
	font-weight: 300;
	color: white;
	border:none;
	background: linear-gradient(359deg, #801880, #9902fd);
	border-radius:5px;
	cursor: pointer;
	outline: none;
	transition: 0.3s;
}
.Kontent5FormaKnopka:hover{
    background: linear-gradient(2deg, #180048f0, #7a30f8);
    box-shadow: none;
}  
/*_________________________________________________________________________________________________*/
footer{
	position: relative;
	top: 0;
	right: 0%;
	width: 100%;
	height: auto;
	background:linear-gradient(#3b0b54,#180422);
}

.footerblocks{
	position: relative;
	top: 0;
    right:0%;
    display: inline-block;
}
.footerLogo{
	position:relative;
	top: 0px;
    left: 0%;
    text-align: left;
    font-family: roboto;
    font-size: 50px;
    font-weight: 600;
    color: white;
}
.footerLogo::after{
	content:"UP!";
	position: relative;
    text-align: left;
    font-family: roboto;
    font-size: 65px;
    font-weight: 600;
    color: #d366ff;
}
.footertext{
	position: relative;
    right: 0%;
    text-align:center;
    font-family: roboto;
    font-size: 17px;
    font-weight: 300;
    color: #dcb5ff;
}
.footertext-phone{
    font-size: 30px;
    font-weight:300;
    color: white;
    text-align: right;
}
/*________________________________________________________________________________________________*/



@keyframes pulse {
0% {
transform: scale();
}

70% {
transform: scale(1);
}

100% {
transform: scale(0.95);
}
}


@media only screen and (max-width: 981px){
	.KontentVideoMedia{right: -38%;}
}